* {
	box-sizing: border-box;
}

body {
	background: #EEEEEE;
	margin: 0;
	padding: 0;
	font-family: 'open sans', 'dejavu sans', 'bitstream vera', helvetica, verdana, arial;
	font-size: 14px;
}

div#top {
	background: #2980b9;
	color: #FFFFFF;
	height: auto;
}

div#topinner {
	width: 100%;
	max-width: 930px;
	margin: 0px auto;
	padding: 0 10px;
}

div.container {
	background: #FFFFFF;
}

div.container:nth-child(odd) {
	background: #EEEEEE;
}

div.innercontainer {
	width: 100%;
	max-width: 930px;
	margin: 0 auto;
	padding: 20px 10px 30px 10px;
}

div.innercontainer > img {
	width: 100%;
	margin-top: 30px;
	box-shadow: 0 0 7px 0 #444444;
}

div#footer {
	width: 100%;
	max-width: 930px;
	margin: 10px auto;
	font-size: 11px;
	color: #777777;
	padding: 0 10px;
}

div#footer a {
	color: #777777;
}

div#footer a:hover {
	color: #262626;
}

h1, h2 {
	margin: 0 0 20px 0;
	font-weight: 500;
}

a {
	color: #262626;
	transition: 0.1s;
	text-decoration:none;
}

a:hover {
	color: #767676;
}

@media only screen and (max-width: 980px) {
	div#topinner {
		text-align: center;
		/*padding-bottom: 20px;*/
	}
	
	div#topinner img {
		max-width: 100%;
	}
}

.item-info {
	padding-right: 16px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-justify {
	text-align: justify;
}

.text-nowrap {
	white-space: nowrap;
}

.display-none {
	display: none;
}
