* {
	box-sizing: border-box;
}

body {
	background: #EEEEEE;
	margin: 0;
	padding: 0;
	font-family: 'open sans', 'dejavu sans', 'bitstream vera', helvetica, verdana, arial;
	font-size: 14px;
}

div#top {
	background: #2980b9;
	color: #FFFFFF;
	height: auto;
}

div#topinner {
	width: 100%;
	max-width: 930px;
	margin: 0px auto;
	padding: 0 10px;
}

div.main-container {
	background: #FFFFFF;
}

div.main-container:nth-child(odd) {
	background: #EEEEEE;
}

div.innercontainer {
	width: 100%;
	max-width: 930px;
	margin: 0 auto;
	padding: 20px 10px 30px 10px;
}

div.innercontainer > img {
	width: 100%;
	margin-top: 30px;
	box-shadow: 0 0 7px 0 #444444;
}

div#footer {
	width: 100%;
	max-width: 930px;
	margin: 10px auto;
	font-size: 11px;
	color: #777777;
	padding: 0 10px 30px 10px;
}

div#footer a {
	color: #777777;
}

div#footer a:hover {
	color: #262626;
}

h1, h2 {
	margin: 0 0 20px 0;
	font-weight: 500;
}

a {
	color: #262626 !important;
	transition: 0.1s !important;
	text-decoration: none !important;
}

a:hover {
	color: #767676 !important;
}

.contributors img {
	padding-right: 5px;
}

@media only screen and (max-width: 980px) {
	div#topinner {
		text-align: center;
		/*padding-bottom: 20px;*/
	}
	
	div#topinner img {
		max-width: 100%;
	}
}

.item-info {
	padding-right: 16px;
}

.display-none {
	display: none;
}

.html {
	color: #e34c26;
}

.css {
	color: #563d7c;
}

.javascript {
	color: #f1e05a;
}

.php {
	color: #4F5D95;
}

.csharp {
	color: #178600;
}

.cpp {
	color: #f34b7d;
}

.lua {
	color: #000080;
}

.python {
	color: #3572A5;
}

.go {
	color: #375eab;
}

.java {
	color: #b07219;
}

.shell {
	color: #89e051;
}
